#include "resource.h"
#include <windows.h>

DLG_WIN DIALOGEX 180, 80, 240, 140
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Edit File"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "Save",IDC_SAVE,121,115,50,15
    PUSHBUTTON      "Cancel",IDC_CANCEL,183,115,50,15
    LTEXT           "File Name",IDC_STATIC,15,15,63,9
    EDITTEXT        IDC_EDIT1,80,15,150,12,ES_AUTOHSCROLL
    LTEXT           "Day",IDC_STATIC,15,40,21,12
    LTEXT           "Month",IDC_STATIC,113,40,21,12
    LTEXT           "Year",IDC_STATIC,183,40,13,12
    EDITTEXT        IDC_EDIT2,80,40,27,12,ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        IDC_EDIT3,141,40,27,12,ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        IDC_EDIT4,206,40,27,12,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "Hours",IDC_STATIC,15,65,24,12
    LTEXT           "Minutes",IDC_STATIC,151,65,33,12
    EDITTEXT        IDC_EDIT6,80,65,27,12,ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        IDC_EDIT5,197,65,27,12,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "Size",IDC_STATIC,15,90,50,12
    LTEXT           "b",IDC_STATIC,185,90,50,12
    EDITTEXT        IDC_EDIT7,80,90,100,12,ES_AUTOHSCROLL | ES_NUMBER
END
