#include "resource.h"
#include <windows.h>

DLG_WIN DIALOGEX 50, 50, 241, 146
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Edit Ticket"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "Save",IDC_SAVE,121,125,50,14
    PUSHBUTTON      "Cancel",IDC_CANCEL,183,125,50,14
    LTEXT           "Film Name",IDC_STATIC,15,16,63,9
    EDITTEXT        IDC_EDIT1,87,15,146,12,ES_AUTOHSCROLL
    LTEXT           "Day",IDC_STATIC,47,47,21,8
    LTEXT           "Month",IDC_STATIC,113,47,21,8
    LTEXT           "Year",IDC_STATIC,183,47,13,8
    EDITTEXT        IDC_EDIT2,71,45,27,12,ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        IDC_EDIT3,141,45,27,12,ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        IDC_EDIT4,206,45,27,12,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "Hours",IDC_STATIC,80,73,24,8
    LTEXT           "Minutes",IDC_STATIC,151,73,33,8
    EDITTEXT        IDC_EDIT6,104,72,27,12,ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        IDC_EDIT5,197,72,27,12,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "Row",IDC_STATIC,15,102,50,8
    LTEXT           "Place",IDC_STATIC,126,102,52,8
    EDITTEXT        IDC_EDIT7,67,98,46,12,ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        IDC_EDIT8,187,98,46,12,ES_AUTOHSCROLL | ES_NUMBER
END
