:root {
    --main-content-width: 65vw;
}

body {
    margin: 0;
    padding: 0;
    background-size: 100%;
    color: #333;
    font-size: 18px;
    font-family: sans-serif;
}

.navigation-bar {
    margin-right: 15px;
    width: 20vw;
    padding: 20px;
    height: 200px;
    padding-right: 50px;
    background-color: #cacbcb;
    border-radius: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 4px solid white;
}

.main_container {
    padding: 50px;
    min-height: 100vh;
    background: url(images/back.jpg) no-repeat fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.form {
    padding: 15px;
    height: 100%;
    background-color: #cacbcb;
    border-radius: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.selects_container {
    display: flex;
    width: var(--main-content-width);
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

.buttons_container {
    display: flex;
    width: var(--main-content-width);
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

.week_container {
    display: flex;
    justify-content: space-between;
}

.color_container {
    display: flex;
    justify-content: space-between;
}

.border_green {
    border: 4px solid #3bdb21;
}

.border_white {
    border: 4px solid white;
}

option, select {
    color: #333;
    border: none;
    cursor: pointer;
}

select {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 15vw;
}

.button {
    padding-top: 5px;
    font-weight: bold;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.active_button {
    background-color: white;
    border-radius: 2px;
    /*лулуыы*/
}

select:hover {
    background-color: #f7f7f7;
}

.schedule {
    font-family: monospace;
    margin-top: 15px;
    margin-bottom: 15px;
    width: var(--main-content-width);
}

@media screen and (max-width: 750px) {
    .form {
        width: 90vw;
    }
}

@media screen and (max-width: 640px) {
    :root {
        --main-content-width: 80vw;
    }

    .button {
        text-align: center;
        width: 100%;
        font-weight: bold;
        cursor: pointer;
        padding: 12px;
        margin-top: 8px;
        margin-left: 1px;
        margin-right: 1px;
    }

    .buttons_container {
        display: block;
        font-size: 12px;
        width: var(--main-content-width);
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .color_button {
        padding-left: 25px;
        padding-right: 25px;
    }

    .day_button {
        padding-left: 4px;
        padding-right: 4px;
    }

    .selects_container {
        width: var(--main-content-width);
        margin-bottom: 2px;
    }

    select {
        padding: 5px 2px;
        width: 18vw;
    }

    .schedule {
        width: var(--main-content-width);
        font-size: 14px;
        margin-top: 8px;
        margin-bottom: 8px;
    }
}